*.xcodeproj/xcuserdata/*
*.xcworkspace/xcuserdata/*
build
.build
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
.DS_Store
Pods

soe/bat/*
soe/obj/*
soe/bin/*
soe/air/*
soe/AIR_readme.txt

Carthage/*

.idea/
.vscode/
.swiftpm/

*.xcsettings
fastlane/report.xml
HaishinKit.json
SRTHaishinKit.json
SRTHaishinKit/Vendor/SRT/OpenSSL/
SRTHaishinKit/Vendor/SRT/srt/
SRTHaishinKit/Vendor/SRT/Includes/
xcschememanagement.plist
*.xcuserdatad
